<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title</title>
    <style type="text/css" media="screen">
      <!-- 
          @import url("css/style.css");
      -->
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<div class="wrapper">
  <form action="#" autocomplete="off">
    <input type="text" spellcheck="false" name="origin_url" placeholder="Enter or paste a long url" required>
    <button>Shorten</button>
  </form>
    <div class="urls-area">
      <div class="title">
        <li>Shorten URL</li>
        <li>Original URL</li>
        <li>Action</li>
      </div>
      {{range .urls}}
      <div class = "data">
        <li>{{.ShortenerUrl}}</li>  
        <li>{{.OriginalUrl}}</li>  
        <li><a onclick="deleteURL({{.ShortenerUrl}})">Delete</a></li>
      </div>
      {{end}}
    </div>
  </div>
</div>

  <script src="js/script.js"></script>

</body>
</html>