<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title</title>
    <style type="text/css" media="screen">
      <!-- 
          @import url("css/style.css");
      -->
    </style>

</head>

<div class="wrapper">
  <form action="#" autocomplete="off">
    <input type="text" spellcheck="false" name="full_url" placeholder="Enter or paste a long url" required>
    <i class="url-icon uil uil-link"></i>
    <button>Shorten</button>
  </form>
    <div class="urls-area">
      <div class="title">
        <li>Shorten URL</li>
        <li>Original URL</li>
        <li>Action</li>
      </div>
      {{range .urls}}
      <div class = "data">
        <li>{{.ShortenerUrl}}</li>  
        <li>{{.OriginalUrl}}</li>  
        <li><a data-confirm="Are you sure?" data-method="delete" href="url/{{.ShortenerUrl}}">Delete</a></li>
      </div>
      {{end}}
    </div>
  </div>

  <div class="blur-effect"></div>
  <div class="popup-box">
  <div class="info-box">Your short link is ready. You can also edit your short link now but can't edit once you saved it.</div>
  <form action="#" autocomplete="off">
    <label>Edit your shorten url</label>
    <input type="text" class="shorten-url" spellcheck="false" required>
    <i class="copy-icon uil uil-copy-alt"></i>
    <button>Save</button>
  </form>
</div>

  <script src="js/script.js"></script>

</body>
</html>